---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <section class="lil-banner">
    <img class="lil-token" src="assets/avatar.png" alt="avatar">
    {%- unless site.author -%}
       <span>Missing author information! Whose resume is this anyway? Set it in the _config.yml</span>
    {%- endunless -%}
    <h1>{{ site.author }}</h1>
  </section>

  {{ content }}

  {%- if site.data.experience.size > 0 -%}
  <section class="resume-section">
    <header class="resume-header">
      <h2>Experience</h2>
    </header>

    {%- for exp in site.data.experience -%}
      {%- include experience.html -%}
    {%- endfor -%}
  </section>
  {%- endif -%}

  {%- if site.data.skills.size > 0 -%}
  <section class="resume-section">
    <header class="resume-header">
      <h2>Skills</h2>
    </header>


    {%- if site.data.skills.code_languages.size > 0 -%}
    <div class="resume-collection-group">
      <h3>Code Languages</h3>
      <div class="resume-collection">
        {%- for language in site.data.skills.code_languages -%}
        <span class="resume-collection-item">{{language}}</span>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}

    {%- if site.data.skills.frameworks.size > 0 -%}
    <div class="resume-collection-group">
      <h3>Frameworks</h3>
      <div class="resume-collection">
        {%- for item in site.data.skills.frameworks -%}
        <span class="resume-collection-item">{{item.name}}</span>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}

    {%- if site.data.skills.software.size > 0 -%}
    <div class="resume-collection-group">
      <h3>Software</h3>
      <div class="resume-collection">
        {%- for item in site.data.skills.software -%}
        <div class="resume-collection-item">
          <span>{{item.name}}</span>
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}

    {%- if site.data.skills.supplemental.size > 0 -%}
    <div class="resume-collection-group">
      <h3>Supplemental</h3>
      <div class="resume-collection">
        {%- for item in site.data.skills.supplemental -%}
        <div class="resume-collection-item">
          <span>{{item.name}}</span>
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}


  </section>
  {%- endif -%}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>


</div>
