---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <section class="lil-banner">
    <img class="lil-token" src="assets/avatar.png" alt="avatar">
    {%- unless site.author -%}
       <span>Missing author information! Whose resume is this anyway? Set it in the _config.yml</span>
    {%- endunless -%}
    <h1>{{ site.author }}</h1>
  </section>

  {{ content }}

  {% include markdown.html path="md/intro.md" %}

  {%- if site.data.education.size > 0 -%}
  <section class="resume-section">
    <header class="resume-header">
      <h2>Education and Certifications</h2>
    </header>

    {%- for degree in site.data.education -%}
    <div>
      <h3>{{ degree.name }}</h3>
      <div class="experience-detail-container">
        <div class="experience-detail-space">
          <div>{{degree.location}}</div>
        </div>
        <span class="experience-detail-time">{{degree.from}} - {{degree.to}}</span>
      </div>
    </div>
    {%- endfor -%}
  </section>
  {%- endif -%}

  {%- if site.data.experience.size > 0 -%}
  <section class="resume-section">
    <header class="resume-header">
      <h2>Experience</h2>
    </header>

    {%- for exp in site.data.experience -%}
      {%- include experience.html -%}
    {%- endfor -%}
  </section>
  {%- endif -%}

  {%- if site.data.skills.size > 0 -%}
  <section class="resume-section">
    <header class="resume-header">
      <h2>Skills</h2>
    </header>
    {% for set in site.data.skills %}
      {% assign title = set[0] %}
      {% assign items = set[1] %}
      {% include list.html title=title items=items %}
    {% endfor %}

  </section>
  {%- endif -%}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
</div>
